@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

input, select {
  outline: none;
  padding: 4px 6px;
}

.delete-btn {
  color: rgb(255, 77, 77);
  transition: 0.4s ease-in-out;
}

.delete-btn:hover {
  color: red;
  cursor: pointer;
}

.currency-dropdown {
  width: 100%;
}
